{% extends "testApp/base.html" %}

{% block title %}Home{% endblock %}

{% block extra_css %}
	<style>

		.testing{
			<!-- width:20px; -->
			<!-- height:1000px; -->
			<!-- background-color: orange; -->
		}
		
		.search-section{
			display: flex;
			justify-content: center;
			margin-top: 30px;
		}
		
		.search-bar{
			width: 320px;
			padding: 12px 16px;
			border-radius: 20px;
			border:none;
			font-family:inherit;
		}
		
		.playlist-bar{
			display: flex;
			flex-direction: column;
			padding-left: 70px;
			padding-top: 50px;
		}
		
		.popular{
			margin-bottom: 50px;
		}
		
		.welcome-text{
			margin-left: 20px;
		}
		
		.extra-offset{
			margin-left: 50px;
		}
		
		.song-carousel{
			display: flex;
			align-items: center;
			gap: 10px;
		}
		
		.song-window{
			width: 800px;
			overflow:hidden;
		}
		
		.song-track{
			display: flex;
			transition: transform 0.3s ease;
		}
		
		.song-card{
			width:200px;
			height:100px;
			background-color: #222;
			color: white;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			border-radius: 8px;
			margin-right: 10px;
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block content %}

<h2 class="welcome-text">Welcome to SoundWav!</h2>

{% if user.is_authenticated %}
	<h2 class="welcome-text extra-offset">
		Hello {{user.username}}!
	</h2>
{% endif %}

<div class="search-section">
	<input
		type="text"
		id="searchInput"
		placeholder="Search your music..."
		class="search-bar"
		/>
</div>

<h2 class="popular">Songs:</h2>

<div class="song-carousel">
    <button id="prevBtn">&lt;</button>

    <div class="song-window">
        <div class="song-track" id="songTrack">
            {% for song in songs %}
                <div class="song-card">
                    {{ song.name }}
                </div>
            {% endfor %}
        </div>
    </div>

    <button id="nextBtn">&gt;</button>
</div>

<div class="playlist-bar">
	<h2 class="popular">Popular Playlists:</h2>
	<h2>New Playlists:</h2>
</div>

<a href="/about/">
	<button>Go To About</button>
</a>

<div class="testing"></div>


<script>
let index = 0;
const track = document.getElementById("songTrack");
const cardWidth = 210; // card width + margin
const visibleCards = 4;

document.getElementById("nextBtn").onclick = () => {
    const maxIndex = track.children.length - visibleCards;
    if (index < maxIndex) {
        index++;
        track.style.transform = `translateX(-${index * cardWidth}px)`;
    }
};

document.getElementById("prevBtn").onclick = () => {
    if (index > 0) {
        index--;
        track.style.transform = `translateX(-${index * cardWidth}px)`;
    }
};
</script>

{% endblock %}