<div class="card-wrapper">
    <img
        src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGlwb2sxdHI5Z2d5NGljdXh1aDUzZXd6cjFhcjNpczlrb3ppZGxjMiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/u3T7c4G8SbkpcRrqJp/giphy.gif"
        alt="Vinyl"
        class="card-image"
    >

    <div
        class="card"
        onclick='window.location.href="/playlist_page/{{ playlist.id }}/"'
    >
        <h3>
            {{ playlist.playlist_name }}
        </h3>
        <p>
            Playlist ID: {{ playlist.id }}
        </p>
    </div>

</div>
<style>
.card-wrapper {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 40px;
}

.card {
	overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 2;
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

.card h3 {
    margin: 0;
    font-size: 14px;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card p {
    margin-top: 6px;
    font-size: 12px;
    text-align: center;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    word-break: break-word;
}
.card-image {
    position: absolute;
    top: 50%;
    left: 65px;
    transform: translateY(-50%);

    width: 115px;
    height: 115px;
    object-fit: cover;

    border-radius: 50%;
    z-index: 1;
}
</style>